In [9]:
## for loop

for i in range(10,1,-1):# it always start from 0 and step is 1
    print(i)

10
9
8
7
6
5
4
3
2

In [17]:
## str 
str='Krish Naik'

for i in str:
    print(i,end='*',sep='\n')

K*r*i*s*h* *N*a*i*k*

In [ ]:
cnt=0
while cnt<5:
    print(cnt)
    cnt+=1 
else:
    print('Loop is done')

0
1
2
3
4
Loop is done

In [20]:
#break exit the loop prematurely
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [22]:
#continue skip the current iteration and continue with next iteration
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [23]:
##pass it is null operation it does nothing
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [24]:
#nested loop

for i in range(3): #0 1 2
    for j in range(2):# 0 1
        print(f'i= {i} and j= {j}') 
        
        
# 6 rows

i= 0 and j= 0
i= 0 and j= 1
i= 1 and j= 0
i= 1 and j= 1
i= 2 and j= 0
i= 2 and j= 1

In [28]:
#caculate the sum of first n natural numbers

#5+4+3+2+1=15
#10+9+8+7+6+5+4+3+2+1=55
sum=0
num=int(input('Enter the number'))
temp=0
while temp <= num:
    sum+=temp
    temp+=1
print(f"sum of first {num} natural numbers is {sum}")

sum of first 5 natural numbers is 15

In [35]:
1//2

0

In [55]:
for i in range(2,1):
    print(i)
else:
    print('else')

else

In [54]:
for j in range(2,1):
    print(j)
    if 11%j==0:
        #print(j)
        break
else:
    print('else run')

else run

In [56]:
#print he prime numbers between 1 to 100


lst=[]

for i in range(1,101):
    if i==1:
        pass
    elif i==2:
        lst.append(i)
    elif i>2:
        cmp=i//2
        for j in range(2,cmp+1):
            if i%j==0:
                break
        else:
            lst.append(i)
print(lst)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]